html {
    font-family: "Space Mono", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;

}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero, .header, .footer {
    background-color: #1F2937;

}

.hero {
    display: flex;
    padding: 100px 250px;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.header {
    color: #f9faf8;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 250px;
}
ul {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
}

.header-links, .sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
}

a {
    text-decoration: none;
}
a:visited {
    color:#E5E7EB;
}

ul {
    list-style-type: none;
}

