html {
    font-family: "Space Mono", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;

}

.main-text {
    font-size: 48px;
    font-weight: 900;

}

.hero, .header, .footer {
    background-color: #1F2937;
}

.hero {
    display: flex;
    padding: 100px 250px;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.header {


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 250px;
}
ul {
    display: flex;
    gap: 30px;
}

.logo {
    font-size: 24px;
}

.header-links, .sub-text {
    font-size: 18px;

}

.info {

    display: flex;
    flex-direction: column;
    padding: 10px 250px;
    padding-bottom: 100px;
}
.title-info {
    font-size: 26px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 36px;
}
.subinfo-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #838487;
    font-size: small;
    flex-wrap: wrap;
    gap: 30px;
}
.subinfo {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subinfo-img {
    border-radius: 4px;
    border: 2px solid #3882F6;
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin-bottom: 13px;
}
.subinfo p {
    text-align: center;
    margin: 0;
}

.quote {
    display: flex;

    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 250px;

}
.o-quote {
    color: #1F2937;
    font-size: 26px;
    font-weight: 200;
}
.o {
    align-self: flex-end;
    font-weight: 800;
    font-size: larger;
}
.o, .o-quote {
    margin: 0;
}

.su-container {
    padding: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up {
    background-color: #3882F6;
    border-radius: 4px;
    width: 1000px;
    height: 150px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin: 100px 0;
}
.su-bold {
    margin: 0;
    font-weight: bold;
    font-size: larger;

}
.su-small {
    margin: 0;

}
.su-button {
    border: 2px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 0;
}

button, a:visited, .su-bold, .header, .main-text {
    color: #f9faf8;
}

.su-small, .header-links, .sub-text, .footer {
    color: #E5E7EB;
}

.su-container, .info {
    background-color: white;
}

button {
    background-color: #3882F6;

    border-radius: 4px;
    border-style: none;
    padding: 10px 35px;
    font-weight: 900;
    font-size: large;
}

a {
    text-decoration: none;
}


ul {
    list-style-type: none;
}


/* Note. Make background color for each section stretch.
Possibly create a div around them all and let it be able to flex grow?
Couldn't figure it out. There was specific issue of sign up container 
expanding beyond all the borders and leaving blue blocks for example with empty
white space to the right where the sign up box expanded off to. 
Probably just a unique issue under that circumstance.*/